html {
    font-size: 14px;
}
.blog-masthead {
    background-color: #b34848;
}


h1,h2,h3,h4,h6 {
    color: #b34848;
}

.blog-post-title a {
    color: #b34848;
}
.blog-post-title > a:hover{
    text-decoration: underline;
}

.blog-title:hover{
    text-decoration: underline;
}
h2:hover{
    text-decoration: underline;
}
h3:hover{
    text-decoration: underline;
}
h4:hover{
    text-decoration: underline;
}
#head > a{
    color: #b34848;
}
.error {
    color: red;
}


